<a href="https://colab.research.google.com/github/BLayus/data-manipulation-exercises/blob/master/Manipula%C3%A7%C3%A3o_de_Dados_com_Pandas%2001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Passo 0 - link para o repositório do git

In [1]:
# Git clone para utilizar o repositório remoto do git

! git clone https://github.com/BLayus/data-manipulation-exercises

Cloning into 'data-manipulation-exercises'...
remote: Enumerating objects: 39, done.
remote: Counting objects: 100% (17/17), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 39 (delta 13), reused 7 (delta 7), pack-reused 22
Unpacking objects: 100% (39/39), done.

In [2]:
# 

cd data-manipulation-exercises/

/content/data-manipulation-exercises

In [3]:
# listando os arquivos do repositório
ls

datasets/                         Manipulacao_de_Dados_Ex_03.ipynb
Manipulacao_de_Dados_Ex_01.ipynb  README.md
Manipulacao_de_Dados_Ex_02.ipynb  resolucao_exemplo/

In [4]:
# Acessando pasta dos datasets

cd datasets

/content/data-manipulation-exercises/datasets

In [5]:
# listando arquivos da pasta

ls

US_Crime_Rates_1960_2014.csv  users_dataset.csv

### Passo 1 - importando dados

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv('users_dataset.csv', sep= '|')

### Passo 2 - Mostre as 15 primeiras linhas do dataset

In [9]:
df.head(15)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301

### Passo 3 - Mostre as dez últimas linhas do dataset

In [10]:
df.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### Passo 4 - Qual o número de linhas e colunas do DataFrame?

In [12]:
# Através de shape
df.shape

(943, 5)

In [13]:
# Através de info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

### Passo 5 - Mostre o nome de todas as colunas

In [15]:
df.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Passo 6. Qual o tipo de dado de cada columa?

In [17]:
df.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Passo 7. Mostre os dados da coluna occupation.

In [18]:
df.occupation #ou df['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### Passo 8. Quantas ocupações diferentes existem neste dataset?

In [20]:
# Utilizando nunique, descobrimos que são 21 valores diferentes para occupation

df.occupation.nunique()

21

### Passo 9. Qual a ocupação mais frequente?

In [19]:
# Utilizando value_counts, descobrimos a contagem por valor distinto

df['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

### Passo 10. Qual a idade média dos usuários?

In [22]:
# Utilizando a função mean para todos os valores da coluna age, descobrimos que a idade média dos usuários é de 34 anos

df.age.mean()

34.05196182396607

### Passo 11. Utilize o método describe() para obter diversas informações a respeito do DataFrame.

In [25]:
# O describe apresenta várias informações condensadas, usando o parâmetro include para mostrar tambéma as variáveis categóricas

df.describe(include= 'all')

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN