<a href="https://colab.research.google.com/github/BLayus/data-manipulation-exercises/blob/master/Manipula%C3%A7%C3%A3o_de_Dados_com_Pandas_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Passo 0 - link para o repositório do git

In [1]:
# Git clone para utilizar o repositório remoto do git

! git clone https://github.com/BLayus/data-manipulation-exercises

fatal: destination path 'data-manipulation-exercises' already exists and is not an empty directory.

In [2]:
cd data-manipulation-exercises/

/content/data-manipulation-exercises

In [3]:
ls

 datasets/                                   Manipulacao_de_Dados_Ex_03.ipynb
'Manipulação_de_Dados_com_Pandas 01.ipynb'   README.md
 Manipulacao_de_Dados_Ex_01.ipynb            resolucao_exemplo/
 Manipulacao_de_Dados_Ex_02.ipynb

In [4]:
cd datasets

/content/data-manipulation-exercises/datasets

In [5]:
ls

US_Crime_Rates_1960_2014.csv  users_dataset.csv

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('US_Crime_Rates_1960_2014.csv', sep= ',')

In [8]:
df.head(10)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [10]:
# Mostrando os dtypes do dataset

df.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

In [11]:
pd.to_datetime(df['Year'], format= '%Y')

0    1960-01-01
1    1961-01-01
2    1962-01-01
3    1963-01-01
4    1964-01-01
5    1965-01-01
6    1966-01-01
7    1967-01-01
8    1968-01-01
9    1969-01-01
10   1970-01-01
11   1971-01-01
12   1972-01-01
13   1973-01-01
14   1974-01-01
15   1975-01-01
16   1976-01-01
17   1977-01-01
18   1978-01-01
19   1979-01-01
20   1980-01-01
21   1981-01-01
22   1982-01-01
23   1983-01-01
24   1984-01-01
25   1985-01-01
26   1986-01-01
27   1987-01-01
28   1988-01-01
29   1989-01-01
30   1990-01-01
31   1991-01-01
32   1992-01-01
33   1993-01-01
34   1994-01-01
35   1995-01-01
36   1996-01-01
37   1997-01-01
38   1998-01-01
39   1999-01-01
40   2000-01-01
41   2001-01-01
42   2002-01-01
43   2003-01-01
44   2004-01-01
45   2005-01-01
46   2006-01-01
47   2007-01-01
48   2008-01-01
49   2009-01-01
50   2010-01-01
51   2011-01-01
52   2012-01-01
53   2013-01-01
54   2014-01-01
Name: Year, dtype: datetime64[ns]

### Tarefa 4. Configure a coluna Year como index do DataFrame.

In [12]:
df.set_index('Year', inplace= True)

In [13]:
df.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Tarefa 5. Remova a coluna Total do DataFrame.

In [14]:
df.drop('Total', axis=1, inplace= True)
df.columns

Index(['Population', 'Violent', 'Property', 'Murder', 'Forcible_Rape',
       'Robbery', 'Aggravated_assault', 'Burglary', 'Larceny_Theft',
       'Vehicle_Theft'],
      dtype='object')

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [16]:
df[df.index == 1978]

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1978,218059000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100

In [17]:
df[df.index == 1978]['Vehicle_Theft']

Year
1978    1004100
Name: Vehicle_Theft, dtype: int64

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos.

In [19]:
df[df['Murder'] == df['Murder'].max()]

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1991,252177000,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [23]:
df[df['Vehicle_Theft'] == df['Vehicle_Theft'].min()]['Murder']

Year
1960    9110
Name: Murder, dtype: int64